{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block header %}
About
{% endblock %}

{% block menu %}
<li><a href="{% url 'courses:index' %}">Courses</a></li>
{% endblock %}

{% block body %}

    <h1>Quizbook Development Log</h1>
    <ul>
    	<li>09/09/14: 2 hours. Git setup, quiz preamble bug check (none found), about page added, CSS standard H1 created in congruence with design.</li>
    </ul>
    <!-- <ul>
    	<li>Ha</li>
    </ul> -->

{% endblock %}