{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block header %}
About
{% endblock %}

{% block menu %}
<li><a href="{% url 'courses:index' %}">Courses</a></li>
{% endblock %}

{% block body %}

	<h1>Mission Statement</h1>
	<ul>
		<li><p>Quizbook is a minimalistic study tool governed by <i>spaced repetition</i> algorithms packaged in a gamified environment. It provides visual feedback that is both immediate and intuitive, using a pool of test questions collaboratively constructed. Tests and practice sessions are generated uniquely according to the user's progress and history.<p></li>
	</ul>
	

    <h1>Quizbook Development Log</h1>
    <h2>Time Stamps</h2>
    <ul>
        <li>12/09/14: 1 hour. psycopg2 problems.</li>
    	<li>11/09/14: 2 hours. Heroku, solution live preview.
    	<li>09/09/14: 2 hours. Git setup, quiz preamble bug check (none found), about page added, CSS standard H1 created in congruence with design.</li>
    </ul>
    <h2> Weekly Plans</h2>
    <ul>
    	<li>Sep 14 - 19: break code into apps, scalability; polymer UI; solution live previewo</li>
    </ul>

{% endblock %}