{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% block title %}{% endblock %}</title>

<!-- Mathjax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<!-- Variance -->
<script src="http://variancecharts.com/cdn/variance-noncommercial-standalone-9bc0f5e.min.js" charset="UTF-8"></script>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300|Maven+Pro:400,500|Raleway:400,500' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">


<!-- Less -->
<link rel="stylesheet/less" href="{{ STATIC_URL }}style.less">
<script src="{{ STATIC_URL }}less.js"></script>

{% block morehead %}{% endblock %}
</head>

<div id="preamble" style="display: none">
	${{ preamble }}$
</div>
 
<body id="index" class="home">
	<div id="main">
		<div id="logo">
			<!-- <span><a href="/" style="color: white">Quiz Book</a></span> -->
			<!-- <span style="font-size: 14px;">{{ quote }}</span> -->
			<div id='cssmenu'>
				<ul>
					<li class="main-logo"><a href="{% url 'home' %}">Quiz Book</a></li>
					{% if user %}
						<li><a href="{% url 'home' %}">{{ user.username }}</a></li>
					{% else %}
						<li><a href="{% url 'home' %}">Anonymous</a></li>
					{% endif %}
					{% block menu %}{% endblock %}
					<li class="back"><a href="{% url 'about' %}">About</a></li>
					{% if user %}
						<li class="back"><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						{% if not home %}
						<li class="back"><a href="{% url 'home' %}">Sign In</a></li>
						{% endif %}
					{% endif %}
				</ul>
			</div>
		</div>

		<div class="buffer">
		</div>

		<div id="headers">
			<div class="header_box" id="first_header">
				{% block header %}{% endblock %}
			</div>
			
			<div class="header_box second_header">
				{% block second_header %}{% endblock %}
			</div>
		</div>

		<div id="content">
			{% block body %}{% endblock %}
		</div>
	</div>

	<footer>
		Quiz Book - Minimalist Study Tool
	</footer>

	<script>
		$(document).ready(function() {
			var height = $('#first_header').css( "height" );
			$('.second_header').css( "min-height", height );
		});
	</script>
</body>
</html>