{% extends "base.html" %}

{% block title %}New Course{% endblock %}

{% block header%}
Create a new quiz for {{ course.name }}
{% endblock %}

{% block menu %}
<li class="back"><a href="{% url 'courses:detail' course.id %}">Back to {{ course.name }}</a></li>
{% endblock %}

{% block body %}

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<div id="random_quizes" style="display: none;">
		<form action="{% url 'courses:new_quiz_process' course.id %}" method="post">
			{% csrf_token %}

			<h3>Question</h3>
			<textarea name="question" rows="4" cols="50" placeholder="">{{ question }}</textarea>

			<h3>Answer</h3>
			<textarea name="answer" rows="4" cols="50" placeholder="">{{ answer }}</textarea>
			</div>

			</br>
			<input class="css3it" type="submit" value="Submit" name="_submit"/>
			<input class="css3it" type="submit" value="Preview" name="_preview"/>
		</form>
	</div>

	<script>

		this.reveal_answer = function() {
			$("#reveal").hide();
			$("#answer").fadeIn("slow");
		};

		$("#reveal").click(function(){
			reveal_answer();
		});

		$( document ).ready(function() {
    		{% if answer %}
    		reveal_answer();
    		{% endif %}
		});

		MathJax.Hub.Register.StartupHook("End Typeset", function (message) {
			$("#random_quizes").fadeIn("slow");
		})

		
	</script>

{% endblock %}