{% extends "base.html" %}

{% block morehead%}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}/static/quiz/css/quiz_template.css" type="text/css" />
{% endblock %}

{% block title %}Course: {{ quiz.course.name }}{% endblock %}

{% block header%}
Practice session for {{ quiz.course.name }}
{% endblock %}

{% block menu %}
<li><a href="{% url 'courses:practise' quiz.course.id %}">Next</a></li>
<li><a href="#" id="delete_button" id="delete_button" name="delete_button">Delete</a></li>
<li id="really_delete_button" name="really_delete_button"><a href="{% url 'courses:delete_quiz' quiz.course.id quiz.id %}">Confirm</a></li>
<li class="back"><a href="{% url 'courses:detail' quiz.course.id %}">Back to {{ quiz.course.name }}</a></li>
{% endblock %}

{% block body %}

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div id="random_quizes" style="display: none;">
		<div id="quiz" style="">
			<ul>
				<li>{{ quiz.question }}</li>
			</ul>
			<form action="{% url 'courses:answer' quiz.id %}" method="post"> {% csrf_token %}
				<textarea name="answer" rows="4" cols="50" placeholder="" style="width: 940px;"></textarea>
				</br><input type="submit" value="Submit" />
			</form>
		</div>
	</div>

	<script>

		$( document ).ready(function() {

		});

		MathJax.Hub.Register.StartupHook("End Typeset", function (message) {
			$("#random_quizes").fadeIn("slow");
		})

		$("#delete_button").click(function(){
			$('#delete_button').hide();
			$('#really_delete_button').fadeIn();
			$('#really_delete_button').delay(3000).fadeOut(0, function() {
				$('#delete_button').show();
			});
			
		});

		
	</script>

{% endblock %}