{% extends "base.html" %}

{% block morehead%}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}/static/quiz/css/quiz_template.css" type="text/css" />
<script src="http://variancecharts.com/cdn/variance-noncommercial-standalone-02c9f8b.min.js"
            charset="UTF-8"></script>
<style media="screen" type="text/css">
#graph {
  width: 400px;
  padding: 60px 80px 80px 41px;
  color: #001729;
  margin: -30px 0 -70px 0;
}
#graph h3 {
  text-align: center;
  margin: 0 0 28px 0;
}
#graph chart {
  width: 400px;
  height: 200px;
}
#graph bar {
  margin: 0 8px;
  border: none;
  background-color: #001729;
}
#graph annotation {
  text-transform: capitalize;
  font-size: 12px;
}

.grade_button:hover {
	color: black;
	cursor: hand;
}

</style>
{% endblock %}

{% block title %}Course: {{ parent_course.name }}{% endblock %}

{% block header%}
Course: {{ parent_course.name }} <br>
Creator: {{ quiz.creator }} <br>
<!-- Date Created: {{ quiz.pub_date }} <br>
Last Modified: {{ quiz.modified_date }} <br> -->
{% if user_enrolled %}
Last recorded grade: {{ last_grade.grade }}

<div id="show_grade" class="white-link"><a href="">Show grade history</a></div>
<div id="hide_grade"><a href="">Hide grade history</a></div>

<div id="grade_history">
	<csv id="traffic">
	  	date,username,grade
		{% for grade in grade_list %}
		"{{  grade.created_at }}", {{  user.username }}, {{ grade.grade }},
		{% endfor %}
	</csv>
	<div id="graph">

	  <chart data="#traffic"
	         map-length="grade"
	         scale-y-linear="0 5">
	    <guide-y></guide-y>
	    <repeat>
	      <bar></bar>
	      <annotation class="bottom">
	<!--       	{% verbatim %}
	    		{{date}}
			{% endverbatim %} -->
	      </annotation>
	    </repeat>
	  </chart>

	</div>
</div>
{% endif %}
{% endblock %}

{% block menu %}
<li><a href="{% url 'courses:edit_quiz' parent_course.id quiz.id %}">Edit</a></li>

{% if user_is_creator %}
<li id="delete_button" id="delete_button" name="delete_button"><a href="#">Delete</a></li>
<li id="really_delete_button" name="really_delete_button"><a href="{% url 'courses:delete_quiz' parent_course.id quiz.id %}">Confirm</a></li>
{% endif %}

<li class="back"><a href="{% url 'courses:detail' quiz.course.id %}">Back to {{ quiz.course.name }}</a></li>
{% endblock %}

{% block body %}

<!--     <repeat>
      <bar></bar>
      <annotation class="bottom">
      	{% verbatim %}
        	{{date}}
        {% endverbatim %}
      </annotation>
    </repeat> -->





	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<div id="random_quizes" style="display: none;">
		<div id="quiz" style="">
			<ul>
				<li>{{ quiz.question }}</li>
				<li>
					<a id="reveal" href="#">Reveal Answer</a>
					<div id="answer" style="display: none">{{ quiz.answer }}</div>
				</li>
			</ul>
		</div>
	</div>

	<script>

		this.reveal_answer = function() {
			$("#reveal").hide();
			$("#answer").fadeIn("slow");
		};

		$("#reveal").click(function(){
			reveal_answer();
		});

		$( document ).ready(function() {
			setup_grade_history();
    		{% if answer %}
    		reveal_answer();
    		{% endif %}
		});

		MathJax.Hub.Register.StartupHook("End Typeset", function (message) {
			$("#random_quizes").fadeIn("slow");
		})

		$("#delete_button").click(function(){
			$('#delete_button').hide();
			$('#really_delete_button').fadeIn();
			$('#really_delete_button').delay(3000).fadeOut(0, function() {
				$('#delete_button').show();
			});
			
		});

		this.setup_grade_history = function() {
			$( "#grade_history" ).hide();
			$( "#hide_grade" ).hide();
		}

		$( "#show_grade" ).click(function() {
			$( "#show_grade ").hide();
			$( "#hide_grade ").show();
			$( "#grade_history" ).show( "slow" );
		});

		$( "#hide_grade" ).click(function() {
			$( "#show_grade ").show();
			$( "#hide_grade ").hide();
			$( "#grade_history" ).hide( "slow" );
		});

		
	</script>

{% endblock %}