{% extends "base.html" %}

{% block title %}Quiz Book{% endblock %}

{% block header%}
Welcome!
{% endblock %}

{% block menu %}
<li><a href="{% url 'courses:index' %}">Courses</a></li>
<li class="back"><a href="/admin/">Go To Admin</a></li>
{% endblock %}

{% block body %}

<div id="random_quizes">
    <div id="quiz" style="">
        <ul id="course_list">
        <li>Already a user?</li>
            <form action="/login" method="post">{% csrf_token %}
                {% for field in auth_form %}
                {{ field }}</br>
                {% endfor %}
                <input type="submit" id="btnLogIn" value="Log In">
            </form>
            <li>New to Quizbook?</li>
            <p>
                <form action="{% url 'signup' %}" method="post">{% csrf_token %}
                    {% for field in user_form %}
                    {{ field }} </br>
                    {% endfor %}
                    <input type="submit" value="Create Account">
                </form>
            </p>
        </ul>
        
    </div>
</div>


<!-- <div class="panel left">
<h2>Already a user?</h2>
<form action="/login" method="post">{% csrf_token %}
    {% for field in auth_form %}
    {{ field }}</br>
    {% endfor %}
    <br/><input type="submit" id="btnLogIn" value="Log In">
</form>
</div>
 -->
{% if auth_form.non_field_errors or user_form.non_field_errors %}
<div class="flash error">
    {{ auth_form.non_field_errors }}
    {{ user_form.non_field_errors }}
</div>
{% endif %}

<!-- <div class="panel right">
    <h2>New to Quizbook?</h2>
    <p>
        <form action="{% url 'signup' %}" method="post">{% csrf_token %}
            {% for field in user_form %}
            {{ field }} </br>
            {% endfor %}
            <br/><input type="submit" value="Create Account">
        </form>
    </p>
</div> -->
{% endblock %}